services:
  api:
    build:
      context: ../../
      dockerfile: code/deployment/api/Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - ../../models:/app/models
      - ./shared_data:/app/shared_data
    environment:
      - FLASK_ENV=development
    restart: unless-stopped

  app:
    build:
      context: app/
      dockerfile: Dockerfile
    ports:
      - "3000:80"
    depends_on:
      - api
    restart: unless-stopped

volumes:
  uploads: